.button:hover,
button:disabled {
  opacity: 80%;
}
.button {
  cursor: pointer;
}

.primary {
  background-color: var(--color-secondary);
  color: var(--color-base);
}
.primary:after {
  background-color: var(--color-primary);
}
.outline {
  background-color: inherit;
  padding: 10px 15px;
  font-weight: bold;
}
.base {
  color: var(--color-base);
  border: 2px solid var(--color-base);
}
.secondary {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}
.primary {
  border: solid transparent;
  appearance: button;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 10px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.primary:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.primary:main,
.button:focus {
  user-select: auto;
}

.primary:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.primary:disabled {
  cursor: auto;
}

.primary:active {
  border-width: 4px 0 0;
  background: none;
}
